<div class="row">
    <div class="large-12 columns">
	    <ul data-orbit>
	      <li><%= image_tag("doi-coffee.jpg") %></li>
	      <li><%= image_tag("mishti-doi.jpg") %></li>
	      <li><%= image_tag("doi.jpg") %></li>
	      </ul>
	    <hr />
	</div>
</div>